

.container {
    display: grid;
    height: 600px;
    width: 500px;

}

.test {
    display: flex;
    justify-content: center;
}



.cell {
    border: 2px black;
    border-style:solid;
   
   
}




.title {
    display: flex;
    justify-content: center;
    
    height: 120px;
    padding: 20px;
}


.header {
    font-size: 100px;
    color: rgb(60, 255, 0);
    font-family: 'Marhey', cursive;
}


.thebutton {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    
    
  
}

.button {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Marhey', cursive;
    font-size: 20px;
    border: 2px white;
}

.button:hover {
    cursor: pointer;
}


.anotherbutton {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Marhey', cursive;
    font-size: 20px;
    border: 2px white;
}

.anotherbutton:hover {
    cursor: pointer;
}